
<IfModule mod_rewrite.c>
RewriteEngine on
#INDEX
RewriteRule ^index\.html$ index.php [L]
RewriteRule ^rss\.xml$ index.php?xml=rss [L]
RewriteRule ^manifest\.json$ index.php?json=manifest [L]
RewriteRule ^sitemap\.xml$ index.php?xml=sitemap [L]
RewriteRule ^badge\.xml$ index.php?xml=badge [L]
RewriteRule ^robots\.txt$ index.php?txt=robots [L]
RewriteRule ^humans\.txt$ index.php?txt=humans [L]
RewriteRule ^ads\.txt$ index.php?txt=ads [L]

#URL custom all
RewriteRule ^accueil\.html$ index.php?lang=all&pages=index [L]
RewriteRule ^télécharger\.html$ index.php?lang=all&pages=telecharger [L]

RewriteRule ^sponsorisé\.html$ index.php?lang=all&pages=sponsor [L]

######PHP######
RewriteRule ^télécharger/php\.html$ index.php?lang=all&pages=telecharger&php=full [L]

######OFFICE######
RewriteRule ^télécharger/bureautique\.html$ index.php?lang=all&pages=telecharger&office=full [L]

######JOOMLA######
RewriteRule ^télécharger/joomla\.html$ index.php?lang=all&pages=telecharger&joomla=full [L]
#RewriteRule ^télécharger/joomla/module\.html$ index.php?lang=all&pages=telecharger&joomla=module [L]
#RewriteRule ^télécharger/joomla/plugin\.html$ index.php?lang=all&pages=telecharger&joomla=plugin [L]
#RewriteRule ^télécharger/joomla/template\.html$ index.php?lang=all&pages=telecharger&joomla=template [L]


RewriteRule ^cv\.html$ index.php?lang=all&pages=cv [L]
RewriteRule ^boutiques\.html$ index.php?lang=all&pages=market [L]
RewriteRule ^invest\.html$ index.php?lang=all&pages=invest [L]
RewriteRule ^projet\.html$ index.php?lang=all&pages=projet [L]

RewriteRule ^projet/transport\.html$ index.php?lang=all&pages=projet&transport=full [L]
RewriteRule ^projet/transport/lire-plus\.html$ index.php?lang=all&pages=projet&transport=readmore [L]

RewriteRule ^projet/gaming\.html$ index.php?lang=all&pages=projet&gaming=full [L]
RewriteRule ^projet/gaming/lire-plus\.html$ index.php?lang=all&pages=projet&gaming=readmore [L]

RewriteRule ^projet/dj-producer\.html$ index.php?lang=all&pages=projet&dj-producer=full [L]
RewriteRule ^projet/dj-producer/lire-plus\.html$ index.php?lang=all&pages=projet&dj-producer=readmore [L]

RewriteRule ^projet/streaming\.html$ index.php?lang=all&pages=projet&streaming=full [L]
RewriteRule ^projet/streaming/radio\.html$ index.php?lang=all&pages=projet&streaming=shoutcast [L]

RewriteRule ^projet/informatique\.html$ index.php?lang=all&pages=projet&informatique=full [L]
RewriteRule ^projet/informatique/maintenance\.html$ index.php?lang=all&pages=projet&informatique=maintenance [L]
RewriteRule ^projet/informatique/security\.html$ index.php?lang=all&pages=projet&informatique=security [L]

RewriteRule ^programme\.html$ index.php?lang=all&pages=programme [L]

RewriteRule ^donation\.html$ index.php?lang=all&pages=donation [L]
RewriteRule ^donation/crypto\.html$ index.php?lang=all&pages=donation&crypto=full [L]

RewriteRule ^mention-legales\.html$ index.php?lang=all&pages=legal [L]
RewriteRule ^policy-privacy\.html$ index.php?lang=all&pages=policy-privacy [L]
RewriteRule ^plan-du-site\.html$ index.php?lang=all&pages=sitemap [L]
RewriteRule ^contact\.html$ index.php?lang=all&pages=contact [L]
RewriteRule ^erreur-404\.html$ index.php?lang=all&pages=error [L]
RewriteRule ^success\.html$ index.php?lang=all&pages=success [L]



####SERVER####
RewriteRule ^server\.html$ server.php [L]
RewriteRule ^server/minecraft\.html$ server.php?pages=minecraft [L]
RewriteRule ^server/mcpe\.html$ server.php?pages=mcpe [L]
#RewriteRule ^server/shoutcast\.html$ server.php?pages=shoutcast [L]


####invest####
RewriteRule ^invest/browser\.html$ invest.php?pages=browser [L]
RewriteRule ^invest/browser/cryptotab\.html$ invest.php?pages=browser&index=cryptotab [L]
RewriteRule ^invest/browser/brave\.html$ invest.php?pages=browser&index=brave [L]

RewriteRule ^invest/trading\.html$ invest.php?pages=trading [L]
RewriteRule ^invest/trading/binance\.html$ invest.php?pages=trading&index=binance [L]

RewriteRule ^invest/mining\.html$ invest.php?pages=mining [L]
RewriteRule ^invest/mining/just-mining\.html$ invest.php?pages=mining&index=just-mining [L]
RewriteRule ^invest/mining/hashshiny\.html$ invest.php?pages=mining&index=hashshiny [L]
RewriteRule ^invest/mining/dualmine\.html$ invest.php?pages=mining&index=dualmine [L]
RewriteRule ^invest/mining/btc-sweet\.html$ invest.php?pages=mining&index=btc-sweet [L]

RewriteRule ^invest/wallet\.html$ invest.php?pages=wallet [L]
RewriteRule ^invest/wallet/uphold\.html$ invest.php?pages=wallet&index=uphold [L]
RewriteRule ^invest/wallet/coinbase\.html$ invest.php?pages=wallet&index=coinbase [L]


</IfModule>

